PORT=4000

# From Google Cloud Console > APIs & Services > Credentials (see README setup steps)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:4000/auth/google/callback

# The playlist friends will add songs to. Grab it from the playlist's URL:
# https://music.youtube.com/playlist?list=THIS_PART_HERE
YOUTUBE_PLAYLIST_ID=
